<IfModule mod_authz_core.c>
    Require all granted
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
</IfModule>

# Add appropriate headers for security
<FilesMatch "\.(gif|jpe?g|png)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
